<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center" style= "color:deepskyblue"> About ShreeLenses </h1>
<h3 style = "text-align:center; ">  Biggest Range, Best Service, Amazing Prices! Since 2021!</h3>
<p align="center"> <br> Biggest Range, Best Service, Amazing prices!
    SmartBuyGlasses is fully dedicated to providing our US customers with the largest range of designer sunglasses,
    prescription eyewear, contact lenses, optical products and optical services at the best possible prices.
    Our customers can always rely on us for a vast selection of optical products from the latest eyewear trends to the classics that never go out of style.
    We pride ourselves in offering our customers great deals daily and guarantee an enjoyable shopping experience
</p>
<br>

<h2 align="center"  style="color:deepskyblue" >TRUST</h2>

<h4 style= "text-align:center; "> 14 day refund </h4>

<h6 align="center"> All our product, including prescription lenses come with a 'no question ask' 14 days return policy.</h6>

<h4 style= "text-align:center; ">1 year warranty</h4>

<h6 align="center";> All ShreeLencess product come with 1 year warranty.</h6>

<h4 style= "text-align:center;">  Authenticity card</h4>

<h6 align="center"> With every frame or contact lenses, we provide authenticity card as a proof of quality and authenticity.</h6>











{% endblock %}
</body>
</html>
	
