<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center"  style="color:deepskyblue"> ShreeLenses Help Center  </h1>
<h3 > Customer Information </h3>
<p > SmartBuyGlasses takes pride in providing excellent customer service and satisfaction by guaranteeing the highest quality eyeglasses, sunglasses, and contact lenses. Whether you are a new or returning customer, the SmartBuyGlasses help center can guide you to the answers you are looking for. We're here to help you!
>
</p>
<p>Here are some of our most popular FAQ's.</p>
<br>
<h5  >New Customers</h5>
<h6 > How do I place an order?</h6>
<h6  >What is your return policy?</h6>
<h6 > How does SmartBuyGlasses ensure quality?</h6>
<h6 > Which prescription details do I need to order?</h6>
<h6  > What is the SmartBuyGlasses authenticity guarantee?</h6>
<h3 align="center" style="color:deepskyblue">Contact Information</h3>

<style >
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h4 align="center" >How to contact us?</h4>
<table align="center">
  <tr>
    <th >Email us :       shreeshop007@gmail.com</th>
  </tr>
  <tr>
      <th>Contact us :    0000000007</th>
  </tr>
</table>

<br>









{% endblock %}
</body>
</html>
	
